// Variables

// Main color
$primary-color: #f0f1f0;

// Anchor color
$secondary-color: #2e7d32;

// Font color
$font-color: #000;

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: #2e7d32;
$intro-text-color: #f0f1f0;
$navbar-color: #f0f1f0;
$navbar-color-no-collapse: $header-background-color;
$navbar-lg-collapse-background-color: #005005;
$navbar-lg-background: $navbar-lg-collapse-background-color;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: #f0f1f0;
